.calc-display-op{
    width:100%;
    height:20%;
    text-align: right;
    padding-right: 5px;
    font-size: 15px;
    font-weight: bold;
    color: #da6d14;
}

.calc-display-data{
    width:100%;
    height:80%;
    text-align: right;
    padding-right: 5px;
    font-size: 24px;
    font-weight: bold;
}

.calc-display {
    border: 1px solid;
    border-color: lightgray;
}

