<div style="width: 600px">
    <div class="calc">
        <div style="margin: 5px">
            <display></display>
        </div>
        <div class="table">
            <div class="table-row">
                <div class="numpad-column">
                    <digit buttonValue="7" class="single-button" (onButtonPressed)="buttonPressed($event)"></digit>
                    <digit buttonValue="8" class="single-button" (onButtonPressed)="buttonPressed($event)"></digit>
                    <digit buttonValue="9" class="single-button" (onButtonPressed)="buttonPressed($event)"></digit>
                    <operator buttonValue="CE" class="single-button basic-operator" (onButtonPressed)="buttonPressed($event)"></operator>
                    <operator buttonValue="C" class="single-button clear" (onButtonPressed)="buttonPressed($event)"></operator>
                </div>
                <div class="numpad-column">
                    <digit buttonValue="4" class="single-button" (onButtonPressed)="buttonPressed($event)"></digit>
                    <digit buttonValue="5" class="single-button" (onButtonPressed)="buttonPressed($event)"></digit>
                    <digit buttonValue="6" class="single-button" (onButtonPressed)="buttonPressed($event)"></digit>
                    <operator class="single-button basic-operator" buttonValue="*" (onButtonPressed)="buttonPressed($event)"></operator>
                    <operator class="single-button basic-operator" buttonValue="/" (onButtonPressed)="buttonPressed($event)"></operator>
                </div>
                <div class="numpad-column">
                    <digit buttonValue="1" class="single-button" (onButtonPressed)="buttonPressed($event)"></digit>
                    <digit buttonValue="2" class="single-button" (onButtonPressed)="buttonPressed($event)"></digit>
                    <digit buttonValue="3" class="single-button" (onButtonPressed)="buttonPressed($event)"></digit>
                    <operator buttonValue="-" class="single-button basic-operator" (onButtonPressed)="buttonPressed($event)"></operator>
                    <operator buttonValue="+" class="single-button basic-operator" (onButtonPressed)="buttonPressed($event)"></operator>
                </div>
                <div class="numpad-column">
                    <digit buttonValue="0" class="double-button" (onButtonPressed)="buttonPressed($event)"></digit>
                    <digit buttonValue="." class="single-button" (onButtonPressed)="buttonPressed($event)"></digit>
                    <operator class="double-button result" buttonValue="=" (onButtonPressed)="buttonPressed($event)"></operator>
                </div>
            </div>
        </div>
    </div>
</div>
