div.calc {
    float: left;
    border: solid 1px;
}
div.table {
    display: table;
    box-sizing: border-box;
}

div.table-row {
    display: table-row;
    box-sizing: border-box;
    line-height: 90px;
    width: 100%;
}

:host /deep/ div.numpad-column button {
    display: table-cell;
    box-sizing: border-box;
    float: left;
    margin: 5px;
}

:host /deep/ .double-button button {
    width: 190px;
    height: 90px;
}

:host /deep/ .single-button button {
    width: 90px;
    height: 90px;
}

:host /deep/ operator.basic-operator button {
    background-color: #808080;
}

:host /deep/ operator.clear button {
    background-color: orange;
}

:host /deep/ operator.result button {
    background-color: #005fb3;
}

